.about-title h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 530px;
    margin-left: 140px;
    margin-top: 83px;
}

.about-title__img {
    display: flex;
    justify-content: center;
}

.about-specialization {
    display: flex;
    justify-content: center;
    margin-top: 159px;
}

.about-specialization__items {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.about-specialization__item {
    width: 392px;
    border-radius: 20px;
    padding: 31px 35px 45px 53px;
    background: linear-gradient(180deg, #233b59 0%, rgba(37, 178, 200, 0.00) 100%);
}

.about-specialization__item-title {
    display: flex;
    justify-content: space-between;
}

.about-specialization__item-title p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 15px;
    margin: 0;
}

.about-specialization__item-title img {
    max-width: 72px;
    max-height: 72px;
}

.about-specialization__item-description {
    margin-top: 27px;
}

.about-specialization__item-description p {
    font-family: Montserrat, sans-serif;
}

.about-technology h3,
.about-specialization__block h3 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 140px;
}

.about-technology__items {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 49px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 45px;
    flex-wrap: wrap;
}

.about-technology__item {
    text-align: center;
    width: 120px;
}

.about-technology__item p {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-top: 16px;
}

.about-video {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .about-title h2 {
        font-size: 30px;
        width: auto;
        margin-left: 0;
        padding: 0 10px;
    }

    .about-video iframe {
        padding: 0 10px;
    }

    .about-technology h3,
    .about-specialization__block h3 {
        margin: 0;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .about-specialization__item {
        width: 100%;
    }

    .about-technology__items {
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .content-trust__button-block {
        width: 100%;
    }

    .about-title__img img {
        width: 100%;
    }

    .about-specialization__items {
        padding: 0 10px;
    }
}