.parthners-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.parthners-description {
    width: 700px;
}

.parthners-description h2 {
    margin: 0;
    color: #fff;
    font-family: Montserrat;
}

.parthners-description p {
    font-size: 18px;
    color: #fff;
    font-family: Montserrat;
}

.wrapper h1 {
    font-size: 32px;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
}

@media (max-width: 1320px) {
    .parthners-description {
        width: 100%;
    }
    .parthners-block {
        flex-direction: column;
        text-align: center;
    }
    .wrapper {
        width: 100%;
    }
}