.content-solution__right-block {
    margin-top: 126px;
    min-width: 608px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.content-solution__web-block,
.content-solution__develop-block {
    width: 700px;
}

.content-solution__web-block h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-solution__web-block ul {
    list-style: none;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-left: 0;
}

.content-solution__web-block ul li a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.content-solution__web-link {
    cursor: pointer;
}

.content-solution__develop-background {
    position: relative;
}

.content-solution__develop-background img {
    position: absolute;
    left: -840px;
    top: -200px;
    z-index: -1;
}

.content-solution__develop-tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 66px;
    align-items: center;
    margin-left: -36px;
}

.content-solution__develop-tabs button {
    border: none;
    background: transparent;
    color: #B0DDEE;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    width: 212px;
    display: block;
    text-align: center;
}

.content-solution__develop-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.content-solution__develop-text p {
    margin: 0;
}

.is-active {
    stroke-width: 1px;
    stroke: #FFF;
    background: url(../../svg/frame.svg) no-repeat !important;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 65px;
}

.swiper-slide {
    width: 600px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
}

.relation-slider {
    height: 478px !important;
}

.swiper-button-next {
    margin-right: 50px;
}

.swiper-button-prev {
    margin-left: 50px;
}

.content-relation__title-block {
    display: flex;
    align-items: center;
    gap: 50px;
}

.content-company {
    display: flex;
    gap: 160px;
    margin-top: 80px;
    align-items: center;
}

.content-company__about {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.content-company__about h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-company__about p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.content-company__about a {
    color: #25B2E7;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 14px;
    align-items: center;
}

.content-company__image img {
    width: 562px;
    height: 235px;
    border-radius: 18px;
}

@media (max-width: 1320px) {

    .content-company {
        gap: 0px;
        flex-direction: column;
        padding: 0 10px;
    }

    .content-solution__right-block {
        flex-direction: column;
        gap: 50px;
    }

    .swiper-slide img {
        width: 150px;
    }

    .content-solution__web-block,
    .content-solution__develop-block {
        width: 100%;
    }

    .content-solution__develop-tabs {
        margin-left: 0;
    }

    .content-trust__button-block {
        width: 100%;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {

    .content-solution__web-block h2,
    .content-company__about h2 {
        font-size: 30px;
    }

    .content-solution__web-block ul li a {
        font-size: 14px;
    }

    .content-solution__web-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-solution__web-block ul {
        margin-top: 0;
    }

    .content-solution__develop-text,
    .content-company__about p {
        font-size: 14px;
    }

    .content-solution__develop-tabs {
        justify-content: center;
    }
}

@media (max-width: 670px) {
    .content-solution__develop-block {
        display: none;
    }

    .content-relation {
        margin-top: 30px;
        padding: 0 10px;
    }

    .content-relation p {
        text-align: center;
    }

    .content-relation__title-block {
        flex-direction: column;
        gap: 0;
    }

    .content-company__image img {
        width: 100%;
    }

    .content-solution__right-block {
        min-width: 0;
    }

    .content-trust__button-svg {
        display: none;
    }

    .content-trust__button-svg-adapt {
        display: block !important;
    }

    .content-trust__button-block {
        width: 100%;
    }
}